<div class="sticky-top menu" style="z-index:2;">
    <a href="/lists">
      <div class="logo" id="logo" style="position:absolute; top:10px; left:10px">
        <img id="brain" class="" src="/img/brain.svg" style="width:60px;">
        <span id="logoName" style="padding-left:4px; font-weight: bold;color:#f289ca;font-size:28px">
          lists
        </span>
      </div>
    </a>


    <!-- <div class="col" style="padding-top:9px;padding-right:50px"> -->
      <!-- <div style="padding-bottom:0px"> -->

      <button onclick="goToTop()" id="upArrow" data-title="Go to top" class="btn zoom rounded-10" style="position:absolute;top:55px;left:4px;padding:0px;background-color: white;line-height: .25;width:20px">
        <img src="/img/upArrow.png" style="width:100%" onmouseover="hover(this, 'upArrowPink')" onmouseout="unhover(this, 'upArrow')">
      </button>
      <!-- </div> -->
      <!-- <div style="padding-top:0px"> -->
      <button onclick="goToBottom()" id="downArrow" data-title="Go to bottom" class="btn zoom rounded-10" style="position:absolute;top:75px;left:4px;padding:0px;background-color: white;line-height: .25;width:20px">
        <img src="/img/downArrow.png" style="width:100%" onmouseover="hover(this, 'downArrowPink')" onmouseout="unhover(this, 'downArrow')">
      </button>
    <!-- </div> -->
    <!-- </div> -->

    <!-- <div style="position:absolute;right:10px"> -->
        <!-- <div style="position:absolute;">
        </div> -->

        <div class="row g-3" style="position:absolute;right:10px;top:10px">


            <div class="col" style="padding-top:9px">
            <a href="/lists" style="text-decoration:none">
                <button data-title="Lists" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: 0;line-height: 1.35;width:30px">
                  <img src="/img/list.png" style="width:20px" onmouseover="hover(this, 'listPink')" onmouseout="unhover(this, 'list')">
                </button>
            </a>
        </div>

        <div class="col" style="padding-top:9px">
            <a href="/archive" style="text-decoration:none">
                <button data-title="Archive" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: 0;line-height: 1.25;width:30px">
                  <img src="/img/archive.png" style="width:20px" onmouseover="hover(this, 'archiveGreen')" onmouseout="unhover(this, 'archive')">
                </button>
            </a>
        </div>


            <div class="col" style="padding-top:9px">
            <a href="/trash"  style="text-decoration:none">
                <button data-title="Trash" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: 0;line-height: 1.25;width:30px">
                  <img src="/img/trash.png" style="width:20px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')">
                </button>
            </a>
        </div>


            
            <div class="col" style="padding-top:9px;padding-right: 0px;">
                  <ul class="nav navbar-nav" style="width:80px;display: block;">
                    <li class="dropdown">
                      <a data-title="Labels" class="dropdown-toggle btn rounded-10 zoom" href="/labels" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="border-color:#f289ca;background-color:#ffe6ee;padding: 0px;line-height: 1.35;width:45px">
                        <img src="/img/label.png" style="width:20px" onmouseover="hover(this, 'labelPink')" onmouseout="unhover(this, 'label')">
                        <span class="caret"></span>
                      </a>
                      <div class="dropdown-menu" style="width:228px;padding-bottom:0px">
                        <% if(allLabels.length == 0) { %>
                          <div style="font-weight: bold;font-size:12px;padding-left:5px">Labels appear here for quick access </div>
                        <% } %>
                        <% allLabels.forEach(function(label) { %>
                          <form action="/search?filterByLabel=true&labelId=<%= label.labelid %>" method="POST" style="padding-bottom:10px;padding-left:5px;padding-right: 5px;">
                            <input class="form-control" name="labelId" value="<%= label.labelid %>" hidden>
                            <input class="form-control" name="label" value="<%= label.label %>" hidden>
                            <button title="View lists with label" class="btn rounded-pill" style="border-color: #03a9f4;background-color: #b3e5fc;color:#03a9f4;font-weight: bold;max-width:100%;font-size:12px;text-overflow:ellipsis;overflow:hidden">
                              <%= label.label %>
                            </button>
                          </form>
                        <% }); %>
                      </div>
                    </li>
                  </ul>
                  </div>
               
           
                
 
                  <div class="col" style="padding-right: 5px;padding-top: 5px;padding-left:0px;">
            <button data-bs-toggle="modal" data-bs-target="#tipsModal" onmouseover="setTextColor(this, '#f289ca')" onmouseout="setTextColor(this, 'black')" data-title="Help" class="btn rounded-10 zoomSmall" style="border-radius:50%;color:black;background-color:#ffe6ee;border-color:#f289ca;padding: 5px;line-height: .5;font-size: 12px;font-weight: bold;">?</button>
</div>


<!-- <div class="col" style="position:absolute;top:-6px;left:195px">
  <button data-bs-toggle="modal" data-bs-target="#tipsModal" onmouseover="setTextColor(this, '#f289ca')" onmouseout="setTextColor(this, 'black')" data-title="Tips & Help" class="btn rounded-10 zoomSmall" style="border-radius:50%;color:black;background-color:#ffe6ee;border-color:#f289ca;padding: 5px;line-height: .5;font-size: 12px;font-weight: bold;">?</button>
</div> 

<div class="col" style="position:absolute;top:14px;left:195px">
  <button data-bs-toggle="modal" data-bs-target="#tipsModal" onmouseover="setTextColor(this, '#f289ca')" onmouseout="setTextColor(this, 'black')" data-title="Tips & Help" class="btn rounded-10 zoomSmall" style="border-radius:50%;color:black;background-color:#ffe6ee;border-color:#f289ca;padding: 5px;line-height: .5;font-size: 12px;font-weight: bold;">?</button>
</div> -->

<div class="col" style="padding-right: 0px;padding-left: 0px;">
            <button class="btn rounded-10 name " data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="small-tooltip" data-bs-title="<%= user.email %>" style="border-color:#f289ca;background-color:#ffe6ee;font-size:12px">
                <span data-bs-toggle="modal" data-bs-target="#settingsModal" style="text-overflow:ellipsis;overflow:hidden;max-width:135px;white-space: nowrap;display: block;">
                <img src="<%= user.profilePhoto %>" style="width:20px;border-radius: 50%;">&nbsp;&nbsp;
                <%= user.givenName %></span>
            </button>
        </div>

        <div class="col" style="padding-left: 5px;padding-top:1px">

            <a onmouseover="hover(document.getElementById('logoutArrow'), 'leftArrowPink')" onmouseout="hover(document.getElementById('logoutArrow'), 'leftArrowBlack')" data-title="Log out" href="/logout" class="btn rounded-10 logout" style="height:33.25px;border-color:#000000;background-color:#ececec;font-size:12px">
                <img id="logoutArrow" src="/img/leftArrowBlack.png" style="width:15px">
            </a>
        </div>
        </div>

       
    <!-- </div> -->


  
    <%- include ('../partials/message') %>

    
    
</div>

  
  
  <div class="modal modal-lg fade" id="tipsModal" tabindex="-1" aria-labelledby="tipsModal" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content mx-auto" style="padding:10px; border:#f289ca 3px solid;">
        <div class="logo text-center" style="color:#f289ca;font-size:22px;">Tips & Help</div>
        <hr>
        <div class="" style="font-size:16px">
          <ul>
            <li>Do actions on multiple lists at once:
            <ul>
            <li>Click the white circle beside each list to select the ones you want, or press CMD-A to select all.</li>
            <li>Click one of the buttons that appear to complete your desired action.</li>
            <li>Click the 'x' to unselect all lists.</li>
            </ul>
            </li>
            <li>Collaborators on a list can share it and remove themselves, but they cannot remove other collaborators or delete the list.</li>
            <li>Labeling, pinning and archiving lists are user-specific changes that do not appear for collaborators.</li>
            <li>You can search for lists by many fields, including:
            <ul>
              <li>Title</li>
              <li>List</li>
              <li>Collaborator:</li>
              <ul>
                <li>Email</li>
                <li>Name</li>
              </ul>
              <li>Label</li>
              <li>Color</li>
              <li>Lists are stored as HTML, so you can even search to filter by specific content types using their HTML tag, such as 'li' for lists, 'strong' for bold text, and more!</li>
            </ul>
            </li>
            <li>Autosave is currently unavailable, so make sure to click the save button when you're done editing a list.</li>
            <li>Lists are sorted first by pins, then most recently edited.</li>
            <li>Labels are sorted first by the number of lists they are associated with (descending), then alphabetically (ascending).</li>
            <li>Copying a list also copies any labels and/or collaborators (if you are the owner) to the new list.</li>
            <li>Locking a list:
              <ul>
                <li>Only locks it for yourself.</li>
                <li>Hides everything except the title.</li>
                <li>Disables all button actions.</li>
              </ul>
            </li>
          </ul>
          <hr>
          <div class="text-center">
          <a href="mailto:lists.communications@gmail.com" style="text-decoration:none">Contact</a>
        </div>
        </div>
    </div>
    </div>
  </div>
  

  <div class="modal modal-sm fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModal" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content mx-auto" style="padding:10px; border:#ffe6ee 3px solid;">
        <div class="logo text-center" style="color:#f289ca;font-size:22px;">Settings</div>
        <div class="" style="">
          <br>
          <div>
             
            <form>
              <h5>Theme</h5>
              <label class="radio-inline">
                <input type="radio" name="optradio" checked> System   
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" style="margin-left: 10px"> Dark
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" style="margin-left: 10px"> Light
              </label>
            </form>
          </div>
          <br>
          <div>
            <form>
              <h5>Text size</h5>
              <label class="radio-inline">
                <input type="radio" name="optradio"> Smaller
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" style="margin-left: 10px" checked> Default
              </label>
              <label class="radio-inline">
                <input type="radio" name="optradio" style="margin-left: 10px"> Bigger
              </label>
            </form>
          </div>
          <br>
          <div>
            <button class="btn rounded-pill" style="color:#03a9f4;" data-bs-toggle="modal" data-bs-target="#sendFeedbackModal">Feedback</button>
          </div>
        </div>
    </div>
    </div>
  </div>


  <form action="/sendFeedback" method="POST">
    <div class="modal fade" id="sendFeedbackModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h1 class="modal-title fs-3">Send feedback</h1>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="email" id="email" value="<%= user.email %>" readonly>
                        <label for="name">Your email</label>
                      </div>
                      <textarea class="feedbackForm form-control" name="feedback" id="feedback" maxlength="1000" rows="5" style="height:100%;" required></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="reset" class="btn rounded-pill" style="background-color:#dedee3; color:#9c9cac" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn rounded-pill" style="background-color:#e8fcec; color:#17d475">Send</button>
                </div>
            </div>
        </div>
    </div>
</form>
  
  <style>
    
    ul.nav li.dropdown:hover .dropdown-menu {
      display: block;
    }
  
    .dropdown-menu {
      overflow: hidden;
      overflow-y: auto;
      max-height: calc(100vh - 150px);
    }


    grad {
  font-size: 8px;
  background: -webkit-linear-gradient(white, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
  </style>
  
  
  <script>
  
    function hideLogo() {
      if(window.innerWidth <= 500) {
        document.getElementById('logoName').setAttribute('hidden', 'true');
        document.getElementById('brain').style.setProperty('width', '25px');
        document.getElementById('logo').style.setProperty('top', '2px');
        document.getElementById('logo').style.setProperty('left', '2px');

      }
      else {
        document.getElementById('logoName').removeAttribute('hidden');
        document.getElementById('brain').style.setProperty('width', '60px');
        document.getElementById('logo').style.setProperty('top', '10px');
        document.getElementById('logo').style.setProperty('left', '10px');
      }
    }
  
    function setTextColor(element, color) {
      element.style.color = color;
    }
  
    hideLogo();
    setInterval(hideLogo, 1000);





    let upArrow = document.getElementById("upArrow");
    let downArrow = document.getElementById("downArrow");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {showUpDownArrows()};

function showUpDownArrows() {
  

  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    upArrow.style.display = "block";
    downArrow.style.display = "block";
  } else {
    upArrow.style.display = "none";
    downArrow.style.display = "none";
  }

  // if((document.body.scrollHeight > document.body.clientHeight)) {
  //   downArrow.style.display = "block";
  // }

  // else 
  // if((document.documentElement.scrollHeight > document.documentElement.clientHeight)) {
    
  // }
  // else {
   
  // }

  
}



// When the user clicks on the button, scroll to the top of the document
function goToTop() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}


function goToBottom() {
  window.scrollTo(0, document.body.scrollHeight);
  window.scrollTo(0, document.documentElement.scrollHeight);
}


showUpDownArrows();
setInterval(showUpDownArrows, 1000);

  
  </script>