<%- include ('../partials/header') %>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>

<main>

    <div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Collaborator Search Results</h5>
            </div>
            <div class="modal-body">


                <% if(users.length == 0) { %>
                    No users found, or that person is already a collaborator.
                <% } else { %>
                    <div style="color:#fb6f92;font-weight: bold;font-size:12px;padding-bottom:10px" >Select a person to collaborate on this list with:</div>
                <% } %>

                <% users.forEach(function(user) { %>
                    <div style="padding-bottom:5px">
                        <form action="/addCollaborator" method="POST">
                            <input class="form-control" name="collaboratorUserId" type="text" value="<%= user.userid %>" hidden>
                            <input class="form-control" name="listId" type="text" value="<%= listid %>" hidden>
                    <button class="btn rounded-pill" style="background-color:#03a9f4;color:white;font-weight: bold;font-size:12px">
                    <%= user.fullname %> < <%= user.email %> >
                </button>
            </form>

            </div>
        

      




           
          
          
        
        
        
        
                <% }) %>
        
                
                



            </div>
            <!-- <div class="modal-footer"> -->
              
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
      

    <!-- <button class="btn rounded-pill">Add collaborator</button>
    <div style="padding-top:5px;padding-bottom:5px">
        <form action="/searchUsers" method="POST">
        <input type="text" id="q" name="q" class="" placeholder="search users">
      </form>


     
 -->











    <!-- <p id="1" style="font-size:12px"></p>
    <p id="2" style="font-size:12px"></p>
    <p id="3" style="font-size:12px"></p>
    <p id="4" style="font-size:12px"></p>
    <p id="5" style="font-size:12px"></p> -->


    <!-- <div class="container-fluid py-2" style="overflow:auto;">
        <div class="d-flex flex-row flex-nowrap" >
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
        </div>
    </div> -->
    <!-- <div class="" style="overflow:auto;">
        <div class="d-flex" >
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
        </div>
    </div> -->


    <br>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#listColors">
    <img src="/img/palette.png" style="width:20px">
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="listColors" tabindex="-1" aria-labelledby="listColors" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="btn-group">

        <button class="btn" onclick="changeListColor('#ffffff', 'whiteSelected')" style="padding-right:0"><img id="whiteSelected" src="/img/colors/white.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#fdf5c1', 'yellowSelected')" style="padding-right:0"><img id="yellowSelected" src="/img/colors/yellow.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#f7cdc2', 'orangeSelected')" style="padding-right:0"><img id="orangeSelected" src="/img/colors/orange.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#cafbc8', 'greenSelected')" style="padding-right:0"><img id="greenSelected" src="/img/colors/green.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#bdf6d9', 'greenBlueSelected')" style="padding-right:0"><img id="greenBlueSelected" src="/img/colors/greenBlue.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#bae6fc', 'lightBlueSelected')" style="padding-right:0"><img id="lightBlueSelected" src="/img/colors/lightBlue.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#b4c9fa', 'lavenderSelected')" style="padding-right:0"><img id="lavenderSelected" src="/img/colors/lavender.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#f4c3fb', 'pinkSelected')" style="padding-right:0"><img id="pinkSelected" src="/img/colors/pink.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#d0adfa', 'purpleSelected')"><img id="purpleSelected" src="/img/colors/purple.png" style="width:20px"></button>
    </div>
        
      </div>
    </div>
  </div> -->


   
  
   

    
<script>
   





window.onload = function () {
        // https://getbootstrap.com/docs/5.0/components/modal/#via-javascript
        let myModal = new bootstrap.Modal(
          document.getElementById("myModal"),
          {}
        );
        // https://getbootstrap.com/docs/5.0/components/modal/#show
        myModal.show();
      };
    
</script>

   


</main>




<%- include ('../partials/footer') %>
