<%- include ('../partials/header') %>

<main>
  
    <div  data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="handleDeletionConflict" tabindex="-1" aria-labelledby="handleDeletionConflict" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content mx-auto text-center justify-content-center" style="padding:10px">
                <div>
                    <h4 class="logo" style="color:#fb6f92">
                        Deletion warning
                    </h4>
                    <hr>

                    <h5>
                        <%= sharedListIdsRaw.length %> of the <%= listIds.length %> remaining list(s) selected for deletion is/are shared, and you are the owner.
                        <br><br>
                        Any collaborators on shared list(s) you own will lose access if you delete this selection.
                    </h5>

                    <div style="padding-top:20px">
                        <a href="/<%= returnPage %>">
                            <button class="btn rounded-10" style="background-color:#e8fcec;color:#17d475;border-color: #17d475;">
                                Cancel
                            </button>
                        </a>
                    </div>

                    <form action="/deleteSelectedLists?continue=true&ownShared=true" method="POST" style="padding-top:20px">
                        <input name="listIds" value="<%= listIds %>" hidden>
                        <input class="timeInput" class="form-control" name="now" hidden>
                        <button class="btn rounded-10" style="background-color:#ffe5ec;color:#fb6f92;border-color: #fb6f92;">
                            Continue
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

<script>

    function hover(element, src) {
        element.setAttribute('src', '/img/'+src+'.png');
    }

    function unhover(element, src) {
        element.setAttribute('src', '/img/'+src+'.png');
    }

    window.onload = function () {
        let myModal = new bootstrap.Modal(document.getElementById("handleDeletionConflict"), {});
        myModal.show();
    };

    function setInputTimes() {
        const elements = document.getElementsByClassName('timeInput');
        for(var i = 0; i < elements.length; i++) {
            elements[i].value = getNowFormatted();
        }
    }

    function getNowFormatted() {
        var now = new Date();

        var nowYear = now.getFullYear();
        var nowMonth = parseInt(now.getMonth()+1);
        var nowDate = now.getDate();
        var nowHours = now.getHours();
        var nowMinutes = now.getMinutes();

        var nowSeconds = now.getSeconds();

        var monthFormatted = (nowMonth < 10) ? '0' + nowMonth : nowMonth;
        var dateFormatted = (nowDate < 10) ? '0' + nowDate : nowDate;
        var hoursFormatted = (nowHours < 10) ? '0' + nowHours : nowHours;
        var minutesFormatted = (nowMinutes < 10) ? '0' + nowMinutes : nowMinutes;

        var secondsFormatted = (nowSeconds < 10) ? '0' + nowSeconds : nowSeconds;

        var nowFormatted = monthFormatted + '-' + dateFormatted + '-' + nowYear + ',' + hoursFormatted + ':' + minutesFormatted + ':' + secondsFormatted;
        return nowFormatted;
    }


    setInputTimes();

setInterval(setInputTimes, 3000);
</script>


</main>

<%- include ('../partials/footer') %>