<%- include ('../partials/header') %>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>

<main>

    
    <div  data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog">
          <div class="modal-content mx-auto text-center justify-content-center" style="width:500px">
            <div style="padding-top:10px">
              <a href="/lists">
                <button title="Go to lists" class="btn rounded-10 zoom" style="position:absolute;left:20px;top:10px;border-color:#fb6fff;background-color:#ffe5ec;padding: 0;line-height: 1.25;width:30px"><img src="/img/list.png" style="width:20px" onmouseover="hover(this, 'listPink')" onmouseout="unhover(this, 'list')"></button>
                </a>
               
              
              <a href="/archive">
              <button title="Go to archive" class="btn rounded-10 zoom" style="position:absolute;left:70px;top:10px;border-color:#b24bf3;background-color:#e6d4ff;padding: 0;line-height: 1.25;width:30px"><img src="/img/archive.png" style="width:20px" onmouseover="hover(this, 'archiveGreen')" onmouseout="unhover(this, 'archive')"></button>
              </a>
              
              <a href="/labels">
                <button title="Go to labels" class="btn rounded-10 zoom" style="position:absolute;left:120px;top:10px;border-color:#fb6fff;background-color:#ffe5ec;padding: 0;line-height: 1.25;width:30px"><img src="/img/label.png" style="width:20px" onmouseover="hover(this, 'labelPink')" onmouseout="unhover(this, 'label')"></button>
                </a>
            </div>
            <div style="padding-top:40px">
              <h6>Create new label</h6>
            </div>
            <div style="padding-top:10px;padding-bottom:5px;padding:10px">
              <form action="/createNewLabel" method="POST">
                <!-- <form action="/checkIfLabelExistsForUser" method="POST"> -->

                <input class="form-control" name="listId" type="number" value='<%= listid %>' hidden>
                <input class="form-control" type="text" name="label" maxlength="50" placeholder="Add a new label..." oninvalid="this.setCustomValidity('Enter a label name')" oninput="setCustomValidity('')" required>
                <!-- <input class="form-control" name="listIdToCollaborate" type="text" value="" hidden>  -->
                <div style="padding-top:10px;">
                  <button class="btn rounded-pill zoom" style="border-color:black;font-size:10px">+</button>
                </div>
              </form>
            </div> 

            <div style="padding-top:10px;padding:10px">
              <h6 data-bs-toggle="tooltip"  data-bs-placement="top"  
              data-bs-custom-class="labelInfoTooltip"
              data-bs-title="
                Click a label to add it to the current list" class="btn zoom">Existing labels</h6>


                
              
            
                <div style="padding-top:5px">
              <% if(labels.length == 0) { %>
                No labels

                <% } %>
              <% labels.forEach(function(label) { %>
                  
                  <div style="padding-bottom:5px">
                    <% if(labelIdsForThisList.includes(label.labelid)) { %>
                        
                      <button disabled="true" class="btn rounded-pill" style="border-color: #03a9f4;background-color: #b3e5fc;color:#03a9f4;font-weight: bold;font-size:12px">
                        <%= label.label %></button>
                    <% } else {%>
                    <form action="/assignLabelToList" method="POST">
                    <input class="form-control" name="listId" type="number" value='<%= listid %>' hidden>
                    <input class="form-control" name="labelId" type="text" value="<%= label.labelid %>" hidden>
                      <button title="Add label" class="btn rounded-pill" style="border-color: #03a9f4;background-color: #b3e5fc;color:#03a9f4;font-weight: bold;font-size:12px">
                        <%= label.label %></button>
                       
                      </form>
                      <% } %>


                      

                      
                    </div>
                    


                <% }) %>
              </div>

                      
              </div>

                 
             
              




            </div>
          </div>
        </div>

    <!-- <div data-bs-backdrop="static" data-bs-keyboard="false" class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-modal="true" role="dialog" style="display: block;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Collaborator Search Results</h5>
            </div>
            <div class="modal-body">


                    No users found, or that person is already a collaborator.
                    <div style="color:#fb6f92;font-weight: bold;font-size:12px;padding-bottom:10px" >Select a person to collaborate on this list with:</div>

                    <div style="padding-bottom:5px">
                        <form action="/addCollaborator" method="POST">
                           
                    <button class="btn rounded-pill" style="background-color:#03a9f4;color:white;font-weight: bold;font-size:12px">
                </button>
            </form>

            </div>
        

      




           
          
          
        
        
        
        
        
                
                



            </div>
              
             </div> -->
          </div>
        </div>
      </div>
      

    <!-- <button class="btn rounded-pill">Add collaborator</button>
    <div style="padding-top:5px;padding-bottom:5px">
        <form action="/searchUsers" method="POST">
        <input type="text" id="q" name="q" class="" placeholder="search users">
      </form>


     
 -->











    <!-- <p id="1" style="font-size:12px"></p>
    <p id="2" style="font-size:12px"></p>
    <p id="3" style="font-size:12px"></p>
    <p id="4" style="font-size:12px"></p>
    <p id="5" style="font-size:12px"></p> -->


    <!-- <div class="container-fluid py-2" style="overflow:auto;">
        <div class="d-flex flex-row flex-nowrap" >
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
            <div class="card card-body m-2" style="min-width: 300px;">Card</div>
        </div>
    </div> -->
    <!-- <div class="" style="overflow:auto;">
        <div class="d-flex" >
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
            <div class="card card-body m-2" style="max-width: 300px;">Card</div>
        </div>
    </div> -->


    <br>
<!-- Button trigger modal -->
<!-- <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#listColors">
    <img src="/img/palette.png" style="width:20px">
  </button> -->
  
  <!-- Modal -->
  <!-- <div class="modal fade" id="listColors" tabindex="-1" aria-labelledby="listColors" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="btn-group">

        <button class="btn" onclick="changeListColor('#ffffff', 'whiteSelected')" style="padding-right:0"><img id="whiteSelected" src="/img/colors/white.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#fdf5c1', 'yellowSelected')" style="padding-right:0"><img id="yellowSelected" src="/img/colors/yellow.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#f7cdc2', 'orangeSelected')" style="padding-right:0"><img id="orangeSelected" src="/img/colors/orange.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#cafbc8', 'greenSelected')" style="padding-right:0"><img id="greenSelected" src="/img/colors/green.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#bdf6d9', 'greenBlueSelected')" style="padding-right:0"><img id="greenBlueSelected" src="/img/colors/greenBlue.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#bae6fc', 'lightBlueSelected')" style="padding-right:0"><img id="lightBlueSelected" src="/img/colors/lightBlue.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#b4c9fa', 'lavenderSelected')" style="padding-right:0"><img id="lavenderSelected" src="/img/colors/lavender.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#f4c3fb', 'pinkSelected')" style="padding-right:0"><img id="pinkSelected" src="/img/colors/pink.png" style="width:20px"></button>
        <button class="btn" onclick="changeListColor('#d0adfa', 'purpleSelected')"><img id="purpleSelected" src="/img/colors/purple.png" style="width:20px"></button>
    </div>
        
      </div>
    </div>
  </div> -->


   
  
   

    
<script>
   



   document.addEventListener("DOMContentLoaded", function(){
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function(element){
                return new bootstrap.Tooltip(element);
            });
        });

window.onload = function () {
        // https://getbootstrap.com/docs/5.0/components/modal/#via-javascript
        let myModal = new bootstrap.Modal(
          document.getElementById("myModal"),
          {}
        );
        // https://getbootstrap.com/docs/5.0/components/modal/#show
        myModal.show();
      };
    
</script>

   


</main>




<%- include ('../partials/footer') %>
