<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>





<main>

    <div class="logo" style="position:absolute; top:10px; left:10px">
        <img class="zoom" src="/img/brain.svg" style="width:40px;"><span style="padding-left:4px; font-weight: bold;color:#f289ca">lists</span>
    </div>



    <button class="btn rounded-10 pull-right name" style="border-color:#f289ca;background-color:#ffe6ee;position:absolute; top:10px; right:50px;font-size:12px" disabled><%= givenName %></button> 
    <a href="/logout" class="btn rounded-10 pull-right logout"style="position:absolute;top:10px; right:5px;border-color:#000000;background-color:#ececec;font-size:11px">←</a>


    <%- include ('../partials/message') %>

    <div class="text-center" style="padding-top:50px;color:#f289ca">
      
        <h6>your lists</h6>
        <div style="padding-top:5px;padding-bottom:5px">
          <input type="text" id="search" name="search" class="search-hover zoom" placeholder="search your lists">

      </div>
      <div style="padding-top:10px;">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href="#addListModal" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;">+</button>
      </div>
      </div>



    


      


  <div class="modal"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog "style="" >
      <div class="modal-content rounded-10">
        <form action="/addList" method="POST">


            <input  tabindex="-1" class="form-control rounded-10 text-center" type="text" maxlength="34" name="title" value="new list" required>

    <div class="text-center" style="padding-bottom:4px">
        <button class="btn rounded-10 " style="border-color:#17d475;background-color:#e8fcec;padding: .25rem .4rem;line-height: .75;">Save</button>
      </div>
        <!-- <textarea  name="list"  id="textarea" class="form-control rounded-0" rows="27" ></textarea> -->
        <textarea name="list"  id="textarea" class="form-control rounded-10" >
        
       </textarea>

            <!-- <textarea  name="list" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" onkeyup="handleInput(event)"  id="textarea" class="form-control rounded-0" rows="27" required></textarea> -->
        </form>
          </div>

      </div>
      
    </div>
  </div>

<div class="text-center" style="padding-top:20px">
  <% if(lists.length > 0) { %>
    <% lists.forEach(function(list){ %>
      <div>
        <h6><%= list.title %></h6>
        <%- list.list %>
      </div>

        
    <% }); %>
<% } else { %>
    <h6>no lists <span style="font-size:30px">☺</span></h6>
<% } %>
</div>

  

</main>

<script src="https://cdn.tiny.cloud/1/is0q015mgv0512rfhujg2w9j8h17y7kkgn7ntlxua0p4pzbx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  
<script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss textcolor colorpicker',
    toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough forecolor backcolor | link image media table mergetags | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    image_list: [
    {title: 'My image 1', value: 'http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ],
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  });
</script>
<!-- <script>tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
  plugins: 'image',
  menubar: 'insert',
  toolbar: 'image',
  image_list: [
    {title: 'My image 1', value: 'https://www.example.com/my1.gif'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ]
});</script> -->


<%- include ('../partials/footer') %>


