<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>





<main>

  <%- include ('../partials/menu') %>


    <div class="text-center" style="padding-top:50px;color:#f289ca">
        <h4 class="site-title">your lists</h4>
        <div style="padding-top:5px;padding-bottom:5px">
          <form action="/search" method="POST">
          <input type="text" id="q" name="q" class="search-hover zoom" placeholder="search all">
        </form>





      </div>
      <div style="padding-top:10px;">
        <button title="New list" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href="#addListModal" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;">+</button>
      </div>


      <% if(lists.length == 1) { %>
        <p id="listCount" style="font-size:12px;padding-top:16px">1 list</p>
      <% } else { %>
        <p id="listCount" style="font-size:12px;padding-top:16px"><%= lists.length %> lists</p>
      <% } %>

      
<div style="padding-left:44px;">
    <button disabled id="numSelectedLists" class="btn" style="font-size:12px;border-radius:10;background-color:#e8fcec;color:#17d475;border-color:#17d475;display: none;padding-left:20px">
      <button onclick="unselectAll()" title="Unselect all" id="unselectAll" class="btn" style="padding:0;position:absolute;top:199px;left:45px;display: none;z-index: 2;"><img src="/img/x.png" style="width:10px" onmouseover="hover(this, 'pinkX')" onmouseout="unhover(this, 'x')"></button>

    </button>  
  </div>



  <!-- TEST -->
  <div style="padding-top:10px;padding-left:44px;">
    <form action="/deleteSelectedLists" method="POST">
    <button id="delSelectedLists" name="listIds" class="btn rounded-10 zoom" style="border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: .25;width:20px;display: none;"><img src="/img/trash.png" style="width:15px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')"></button>
  </form>
  </div>
    
    </div>



    


      


  <div class="modal"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog "style="" >
      <div class="modal-content rounded-10">
        <form action="/addList" method="POST">
            <input class="timeInput" class="form-control" name="now" hidden>

            <input    tabindex="-1" class="form-control rounded-10 text-center" type="text" maxlength="50" name="title" placeholder="Add a title...">

    <div class="text-center" style="padding-bottom:4px">
        <button class="btn rounded-10 " style="border-color:#17d475;background-color:#e8fcec;padding: .25rem .4rem;line-height: .75;">Save</button>
      </div>
        <!-- <textarea  name="list"  id="textarea" class="form-control rounded-0" rows="27" ></textarea> -->
        <textarea name="list"  id="textarea" class="form-control rounded-10" >
        
       </textarea>

            <!-- <textarea  name="list" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" onkeyup="handleInput(event)"  id="textarea" class="form-control rounded-0" rows="27" required></textarea> -->
        </form>
          </div>

      </div>
      
    </div>
  </div>

    <div class="row" style="overflow:auto;padding-top:50px;padding-left:20px;display:block">

      <div class="d-flex" >
        <% let count = 1 %> 
    <% lists.forEach(function(list) { %>
      <!-- THIS IS A TEST -->
      <!-- <div data-bs-toggle="modal" data-bs-target="#editList<%= list.listid%>" type="button" href="#editList<%= list.listid%>" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;"> -->
        <!-- <button data-bs-toggle="modal" data-bs-target="#editList<%= list.listid%>" type="button" href="#editList<%= list.listid%>" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;"> -->

          

          <div>
            <!-- <input type="number" name="listIdSelected"  hidden> -->
          
          <button title="Select list" id="" value=<%= list.listid %> class="btn rounded-10 zoom" style="position:relative;left:26px;top:5px;z-index: 2;line-height: .25;width:15px;padding: 0;"><img class="listSelector" src="/img/colors/white.png" style="width:15px" onclick="changeImage(this, 'colors/white', 'colors/ffffffSelected')"></button>
  </div>
      <div title="Edit list" data-bs-toggle="modal" data-bs-target="#editList<%= list.listid%>" type="button" href="#editList<%= list.listid%>" data-toggle="modal" id="<%= list.listid %>" class="col card card-body m-2" style="min-width: 400px;overflow-x:scroll;background-color:#<%= list.color %>;">   
       
        <div class="row" style="font-weight:bold;padding-left:10px">
          <div style="width:60%;text-overflow:ellipsis;
          white-space: nowrap;
          overflow: hidden; ">
          
          <%= list.title %>  
        </div>


          
            
          <!-- <span class="col"> -->

            
           <div style="z-index:10">
          <form action="/deleteList" method="POST">
            <input type="number" name="listId" value=<%= list.listid %> hidden>
            <button title="Delete list" class="btn rounded-10 zoom" style="position:absolute;right:10px;border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: .25;width:20px"><img src="/img/trash.png" data-bs-dismiss="" style="width:15px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')"></button>
          </form>
        </div>
          
        <!-- </span> -->

        <div class="col"><button title="Change color" onclick="setSelectedColor('<%= list.color %>')" type="button" class="btn rounded-10 zoom" data-id="<%= list.listid %>" data-bs-toggle="modal" data-bs-target="#listColors" style="position:absolute;right:50px;border-color:#fb6f92;padding: 0;line-height: .25;width:20px">
          <img src="/img/palette.png" style="width:20px" onmouseover="hover(this, 'paletteColors')" onmouseout="unhover(this, 'palette')">
        </button>
      </div>

      <div class="col">
        <% if(list.archive) {  %>
          <form action="/copy?archived=true" method="POST">
        <% } else { %>
        <form action="/copy" method="POST">
          <% } %>
          <input class="timeInput" class="form-control" name="now" hidden>

          <input class="form-control" type="text" name="title" value="<%= list.title %>" hidden>
          <input class="form-control" type="text" name="list" value="<%= list.list %>" hidden>
          <input class="form-control" type="text" name="color" value="<%= list.color %>" hidden>


        <button title="Copy" class="btn rounded-10 zoom"  style="position:absolute;right:80px;border-color:#fb6f92;padding: 0;line-height: .25;width:20px">
        <img src="/img/copy.png" style="width:20px" onmouseover="hover(this, 'copyBlue')" onmouseout="unhover(this, 'copy')">
      </button>
    </form>
    </div>



    <% if(list.archive) {  %>
      <div class="col">
        <form action="/unarchiveList" method="POST">
          <input type="number" name="listId" value=<%= list.listid %> hidden>
          
        <button title="Unarchive" class="btn rounded-10 zoom"  style="position:absolute;right:110px;border-color:#17d475;background-color:#e8fcec;padding: 0;line-height: .25;width:20px">
        <img src="/img/unarchive.png" style="width:20px" onmouseover="hover(this, 'unarchivePink')" onmouseout="unhover(this, 'unarchive')">
      </button>
    </form>
    </div>

    <% } else { %>
    <div class="col">
      <form action="/archiveList" method="POST">
        <input type="number" name="listId" value=<%= list.listid %> hidden>
        
      <button title="Archive" class="btn rounded-10 zoom"  style="position:absolute;right:110px;border-color:#fb6f92;padding: 0;line-height: .25;width:20px">
      <img src="/img/archive.png" style="width:20px" onmouseover="hover(this, 'archiveGreen')" onmouseout="unhover(this, 'archive')">
    </button>
  </form>
  </div>
  <% } %>


  <!-- <div class="col">
    <form action="/" method="POST">
      <input type="number" name="listId" value=<%= list.listid %> hidden>
      
    <button title="Add collaborator" class="btn rounded-10 zoom"  style="position:absolute;right:140px;border-color:#1e90ff;padding: 2px;line-height: .25;width:20px">
    <img src="/img/addCollaborator.png" style="width:15px" onmouseover="hover(this, 'addCollaboratorBlue')" onmouseout="unhover(this, 'addCollaborator')">
  </button>
</form>
</div> -->

<div class="col">
  <button title="Add collaborator" type="button" class="btn rounded-10 zoom" data-id="<%= list.listid %>" data-bs-toggle="modal" data-bs-target="#addCollaborator<%= list.listid%>" href="#addCollaborator<%= list.listid%>" data-toggle="modal" style="position:absolute;right:140px;border-color:#1e90ff;padding: 2px;line-height: .25;width:20px">
  <img src="/img/addCollaborator.png" style="width:15px" onmouseover="hover(this, 'addCollaboratorBlue')" onmouseout="unhover(this, 'addCollaborator')">
</button>
</div>

      


        

        </div>        
        <br>
        <%- list.list %>

        <% if(list.archive) {  %>
          <button disabled class="btn rounded-pill" style="width:70px;font-size:10px;border-color:#b24bf3;color:#b24bf3;background-color:#e6d4ff">Archived</button>

        <% } %>

     
     

     
     
      </div>


      


      <div class="modal fade" id="addCollaborator<%= list.listid%>" tabindex="-1" aria-labelledby="addCollaborator" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content mx-auto text-center justify-content-center" style="width:250px">
            <div style="padding-top:10px">
              <h6>Add collaborator</h6>
            </div>
            <div style="padding-top:5px;padding-bottom:5px;padding:10px">
              <form action="/searchUsers" method="POST">
                <input class="form-control" type="text" name="q" placeholder="search users" oninvalid="this.setCustomValidity('Enter a name or email')" oninput="setCustomValidity('')" required>
                <input class="form-control" name="listIdToCollaborate" type="text" value="<%= list.listid %>" hidden>   <!-- IDK -->
                <div style="padding-top:5px;">
                  <button class="btn rounded-pill" style="border-color: #03a9f4;background-color: #b3e5fc;color:#03a9f4;font-size:12px">Search</button>
                </div>
              </form>
            </div> 
          </div>
        </div>
      </div>
    




      








      <div class="modal"  id="editList<%= list.listid%>" tabindex="-1" aria-labelledby="editList<%= list.listid%>" aria-hidden="true" >
        <div class="modal-dialog "style="" >
          <div class="modal-content rounded-10">
            <!-- <input style="font-weight:bold;padding-left: 10px;padding-top: 10px;" value="">
            <br>
             -->



              <form action="/updateList" method="POST">
                <input class="timeInput" class="form-control" name="now" hidden>

      <input class="form-control" type="text" name="listId" value="<%= list.listid %>" hidden>

                  <input tabindex="-1" class="form-control rounded-10 text-center" type="text" maxlength="50" name="title" value="<%= list.title%>">
      
          <div class="text-center" style="padding-bottom:4px">
              <button class="btn rounded-10 " style="border-color:#17d475;background-color:#e8fcec;padding: .25rem .4rem;line-height: .75;">Update</button>
            </div>
              <!-- <textarea  name="list"  id="textarea" class="form-control rounded-0" rows="27" ></textarea> -->
              <textarea name="list"  id="textarea" class="form-control rounded-10"> <%- list.list %>
              
             </textarea>
      
                  <!-- <textarea  name="list" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" onkeyup="handleInput(event)"  id="textarea" class="form-control rounded-0" rows="27" required></textarea> -->
              </form>


                  <div data-bs-toggle="tooltip" data-bs-custom-class="timeTooltip" class="createTime" id="createTime<%= list.listid%>" data-value="<%= list.createdatetime %>" style="text-align:center;padding-top:5px;font-size:12px;font-weight: bold;">
                    
                    <button class="editTime btn" id="editTime<%= list.listid%>" data-value="<%= list.editdatetime %>" style="text-align:center;padding-top:5px;font-size:12px;font-weight: bold;"></button>

                  
                  </div>


                 

                </div>
      
          </div>
          
        </div>














      
      <!-- THIS IS A TEST -->
    <!-- </button> -->
    <% }); %>
    <div style="padding-right:20px"></div>
  </div>
</div>

<!-- TEST -->

<!-- <input id="n" value="<%=  %>" hidden> -->

<% if(search && lists.length == 0){ %>
  <div class="text-center" style="padding-top:100px">

    <h6>no search results</h6>
    <img style="width:100px" src="/img/noResults.png">

  </div>
<% } else if(lists.length == 0) { %>
  <div class="text-center" style="padding-top:100px">

    <h6>no lists</h6>
    <img style="width:100px" src="/img/palmTree.png">

  </div>

  <% } %>
<!-- </div> -->

<div class="modal fade" id="listColors" tabindex="-1" aria-labelledby="listColors" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content mx-auto" style="width:202px">

      <!-- <div id="modalListId" value="1"></div> -->

      <form action="/changeListColor" method="POST">
        <input id="modalListId" name="listId" value="" hidden>
        <button class="btn"  name="color" value="ffffff" style="padding-right:0"><img id="ffffff" src="/img/colors/white.png" style="width:20px"></button>
        <button class="btn" name="color"  value="fdf5c1" style="padding-right:0"><img id="fdf5c1" src="/img/colors/yellow.png" style="width:20px"></button>
        <button class="btn" name="color" value="bae6fc" style="padding-right:0"><img id="bae6fc" src="/img/colors/lightBlue.png" style="width:20px"></button>

        <button class="btn" name="color" value="cafbc8" style="padding-right:0"><img id="cafbc8" src="/img/colors/green.png" style="width:20px"></button>
        <button class="btn"  name="color" value="f4c3fb" style="padding-right:0"><img id="f4c3fb" src="/img/colors/pink.png" style="width:20px"></button>
      
      <button class="btn"name="color" value="dddddd"  style="padding-right:0"><img id="dddddd" src="/img/colors/grey.png" style="width:20px"></button>

      <button class="btn" name="color" value="f7cdc2" style="padding-right:0"><img id="f7cdc2" src="/img/colors/orange.png" style="width:20px"></button>

      <button class="btn" name="color" value="b4c9fa" style="padding-right:0"><img id="b4c9fa" src="/img/colors/lavender.png" style="width:20px"></button>
      <button class="btn" name="color" value="bdf6d9" style="padding-right:0"><img id="bdf6d9" src="/img/colors/greenBlue.png" style="width:20px"></button>

      <button class="btn"name="color" value="d0adfa"  ><img id="d0adfa" src="/img/colors/purple.png" style="width:20px"></button>
     
    </form>

   
      
    </div>
  </div>
</div>







<!-- <button onclick="showOrHideModal('show')" style="z-index:10">show</button> -->




<!-- Button trigger modal -->


<!-- Modal -->
<!-- <div class="modal fade" id="searchResultsModal" tabindex="-1" aria-labelledby="searchResultsModal" aria-hidden="true"> -->
 






<!-- <button onclick="setEditTimes()"> call</button> -->



















</main>

<script src="https://cdn.tiny.cloud/1/is0q015mgv0512rfhujg2w9j8h17y7kkgn7ntlxua0p4pzbx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  
<script>

document.getElementById('listColors').addEventListener('show.bs.modal', (e) => {
    // console.log(e.relatedTarget);
    // console.log(e.relatedTarget.dataset.id);

    // var element = document.createElement("div");
    // element.innerHTML = e.relatedTarget.dataset.id;
    // document.getElementById('listColorsContent').appendChild(element);  
    // document.getElementById('modalListId').innerHTML = e.relatedTarget.dataset.id;

    document.getElementById('modalListId').value = e.relatedTarget.dataset.id;
    // console.log(document.getElementById('modalListId').value);



});


function setSelectedColor(color) {
  var imgs = ['white','yellow','orange','green','greenBlue','lightBlue','lavender','pink','purple', 'grey'];
        var ids = ['ffffff','fdf5c1','f7cdc2','cafbc8','bdf6d9','bae6fc','b4c9fa','f4c3fb','d0adfa', 'eeeeee']; 

        for(var i = 0; i < imgs.length; i++) {
            document.getElementById(ids[i]).src='/img/colors/'+imgs[i]+'.png';
        }
        
  document.getElementById(color).src = '/img/colors/'+color+'Selected.png';
}


function setListCount(n) {
  var element = document.getElementById('listCount');
  if(n == 0) {
    element.innerHTML = n+' lists';
  }
  else if(n == 1) {
    element.innerHTML = n+' list';
  } else if(n > 1){
    element.innerHTML = n+' lists';
  }
  else {
    element.innerHTML = '';
  }
}


function changeImage(element, img1, img2) {
  if(element.getAttribute('src') == '/img/'+img1+'.png') {
    element.setAttribute('src', '/img/'+img2+'.png');
  }
  else {
    element.setAttribute('src', '/img/'+img1+'.png');
  }  

  countSelectedLists();
}

function countSelectedLists() {
  const elements = document.getElementsByClassName('listSelector');
  
  var n = 0;
  var selectedListIds = [];
  for(var i = 0; i < elements.length; i++) {
    // console.log(elements[i].src)
    // console.log(window.location.origin+'/img/colors/ffffffSelected.png');
    if(elements[i].src == window.location.origin+'/img/colors/ffffffSelected.png') {
      n++;
      // console.log(elements[i].parentElement.value);
      selectedListIds.push(elements[i].parentElement.value);
    }
  }

  // console.log('num selected: '+n);
  // for(var i=0; i < selectedListIds.length;i++) {
  //   console.log(selectedListIds[i]);
  // }


  if(n >0) {
document.getElementById('numSelectedLists').innerHTML = n+' selected';
document.getElementById('numSelectedLists').style.display = 'block';

document.getElementById('delSelectedLists').style.display = 'block';
document.getElementById('delSelectedLists').value = selectedListIds;


console.log(document.getElementById('delSelectedLists').value);

document.getElementById('unselectAll').style.display = 'block';




  } else {
    document.getElementById('numSelectedLists').style.display = 'none';
    // document.getElementById('numSelectedLists').innerHTML = '';

    document.getElementById('delSelectedLists').style.display = 'none';

    document.getElementById('unselectAll').style.display = 'none';
    



  }
  
}

function unselectAll() {
  var selected = document.querySelectorAll('[src="/img/colors/ffffffSelected.png"]');

  // console.log(selected[0].src);

  for(var i = 0; i < selected.length; i++) {
    selected[i].src = '/img/colors/white.png';
  }

  countSelectedLists();
  
  
}

  function hover(element, src) {
  element.setAttribute('src', '/img/'+src+'.png');
 if(src !== 'paletteColors' && src !== 'addCollaboratorBlue') {
  stopModals();
 }
}

function unhover(element, src) {
  element.setAttribute('src', '/img/'+src+'.png');
  startModals();
}

// var nSelected = 0;
// for(var i = 0; i < lists.length; i++) {
//       if(document.getElementById('listSelector').src='/img/colors/ffffffSelected.png') {
//         nSelected++;
//       }
// }

// console.log(nSelected);

  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss  ',
    toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough forecolor backcolor | link image media table mergetags | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    image_list: [
    {title: 'My image 1', value: 'http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ],
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  });

  function changeListColor(val, id, listId){
    var targetId = document.getElementById('modalListId').value;
    // console.log(targetId);
    var list = document.getElementById(targetId).style.backgroundColor = val;

        // var list = document.getElementById(listId);
        // list.style.backgroundColor = val;

        // document.body.style.backgroundColor = val;



        
        var imgs = ['white','yellow','orange','green','greenBlue','lightBlue','lavender','pink','purple'];
        var ids = ['whiteSelected','yellowSelected','orangeSelected','greenSelected','greenBlueSelected','lightBlueSelected','lavenderSelected','pinkSelected','purpleSelected']; 

        for(var i = 0; i < 9; i++) {
            document.getElementById(ids[i]).src='/img/colors/'+imgs[i]+'.png';
        }

        document.getElementById(id).src='/img/colors/'+id+'.png';
    }








    document.addEventListener("keydown", function(e) {

  if(!e.metaKey || e.metaKey && e.keyCode == 82 || e.metaKey && e.keyCode == 87) {
    return true;
  }
  e.preventDefault();

  var selectedListIds = [];


  if(e.metaKey && e.keyCode == 65) {
    // console.log('cmd a')

    const elements = document.getElementsByClassName('listSelector');
  
  for(var i = 0; i < elements.length; i++) {
    // console.log(elements[i].src)
    // console.log(window.location.origin+'/img/colors/ffffffSelected.png');
    if(elements[i].src !== window.location.origin+'/img/colors/ffffffSelected.png') {
      // console.log(elements[i].parentElement.value);
      elements[i].src = '/img/colors/ffffffSelected.png';
    }
    selectedListIds.push(elements[i].parentElement.value);

  } 

  // console.log(selectedListIds)

}
  


  if(selectedListIds.length > 0) {
  document.getElementById('numSelectedLists').innerHTML = selectedListIds.length+' selected';
document.getElementById('numSelectedLists').style.display = 'block';

document.getElementById('delSelectedLists').style.display = 'block';
document.getElementById('delSelectedLists').value = selectedListIds;

document.getElementById('unselectAll').style.display = 'block';



// console.log(document.getElementById('delSelectedLists').value);
  }
  
  // if (e.keyCode >= 65 && e.keyCode <= 90) {
  //   var char = (e.metaKey ? '⌘-' : '') + String.fromCharCode(e.keyCode)
  //   // document.getElementById('keydown').innerHTML += '<kbd>' + char + '</kbd>'
    
  // }
})


// window.onload = function() {
//   var element = document.getElementById('n');
//   console.log(element);

//   var val = element.value;
//   console.log(val);
//   setListCount(val);
// };


// window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
//     const newColorScheme = event.matches ? "dark" : "light";
// });

// if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
//     // dark mode
//     // document.body.backgroundColor = 'black';
//     console.log('dark mode is on');
//     document.body.style.backgroundColor = "black";

// }
// else {
//   console.log('dark mode is off');
// }




function setEditTimes() {
  const elements = document.getElementsByClassName('editTime');
  // var elements = document.querySelectorAll('[var="editTime"]');


  for(var i = 0; i < elements.length; i++) {
    
    // console.log(elements[i].id);
    // console.log(elements[i].dataset.value);
   
    setTimeEdited(elements[i].dataset.value, elements[i].id);

  }
}


function setCreateTimes() {
  const elements = document.getElementsByClassName('createTime');
  // var elements = document.querySelectorAll('[var="editTime"]');





  for(var i = 0; i < elements.length; i++) {
    
    // console.log(elements[i].id);
    // console.log(elements[i].dataset.value);
   
    setTimeCreated(elements[i].dataset.value, elements[i].id);

  }
}


function setTimeEdited(editDateTime, divId) {
  var now = new Date();
  var nowYear = parseInt(now.getFullYear());
  var nowMonth = parseInt(now.getMonth()+1);
  var nowDate = parseInt(now.getDate());



  var thenYear = parseInt(editDateTime.substring(6,10));
  var thenMonth = parseInt(editDateTime.substring(0,2));
  var thenDate = parseInt(editDateTime.substring(3,5));
  var thenHour = parseInt(editDateTime.substring(11,13));
  var thenMin = parseInt(editDateTime.substring(14));


  var ampm = 'AM';

  if(thenHour >= 12) {
    ampm = 'PM';

    if(thenHour > 12) {
        thenHour -= 12;

    }
  }

  if(thenHour == 0) {
    thenHour = 12;
  }

  var thenMinutesFormatted = (thenMin < 10) ? '0' + thenMin : thenMin;
      
  var thenTime = thenHour + ':' + thenMinutesFormatted + ' ' + ampm;


  const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  const thenMonthAbbr = months[thenMonth-1];

  var thenDateFormatted = (thenDate < 10) ? '0' + thenDate : thenDate;
  

  if(nowYear > thenYear) {
    var message = 'Edited ' + thenMonthAbbr + ' ' + thenDateFormatted + ' ' + thenYear;
    document.getElementById(divId).innerHTML = message;
  }
  else if(nowYear == thenYear && nowMonth == thenMonth && nowDate == thenDate) {
      var message = 'Edited ' + thenTime;
      document.getElementById(divId).innerHTML = message;
  }
  else if(nowYear == thenYear && nowMonth == thenMonth && nowDate == (thenDate+1)) {
      var message = 'Edited yesterday, ' + thenTime;
      document.getElementById(divId).innerHTML = message;
  }
  else if(nowYear == thenYear && nowMonth >= thenMonth && nowDate > (thenDate+1)) {
      var message = 'Edited ' + thenMonthAbbr + ' ' + thenDateFormatted;
      document.getElementById(divId).innerHTML = message;
  }
  else {
      var message = 'Edited: error';
      document.getElementById(divId).innerHTML = message;
  }
}


function setTimeCreated(createDateTime, divId) {
  var now = new Date();
  var nowYear = parseInt(now.getFullYear());
  var nowMonth = parseInt(now.getMonth()+1);
  var nowDate = parseInt(now.getDate());



  var thenYear = parseInt(createDateTime.substring(6,10));
  var thenMonth = parseInt(createDateTime.substring(0,2));
  var thenDate = parseInt(createDateTime.substring(3,5));
  var thenHour = parseInt(createDateTime.substring(11,13));
  var thenMin = parseInt(createDateTime.substring(14));


  var ampm = 'AM';

  if(thenHour >= 12) {
    ampm = 'PM';

    if(thenHour > 12) {
        thenHour -= 12;

    }
  }

  if(thenHour == 0) {
    thenHour = 12;
  }

  var thenMinutesFormatted = (thenMin < 10) ? '0' + thenMin : thenMin;
      
  var thenTime = thenHour + ':' + thenMinutesFormatted + ' ' + ampm;


  const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
  const thenMonthAbbr = months[thenMonth-1];

  var thenDateFormatted = (thenDate < 10) ? '0' + thenDate : thenDate;

  if(nowYear > thenYear) {
    var message = 'Created ' + thenMonthAbbr + ' ' + thenDateFormatted + ' ' + thenYear;
    // document.getElementById(divId).setAttribute('data-bs-title', message);
  }
  else if(nowYear == thenYear && nowMonth == thenMonth && nowDate == thenDate) {
      var message = 'Created ' + thenTime;
      // document.getElementById(divId).innerHTML = message;
  }
  else if(nowYear == thenYear && nowMonth == thenMonth && nowDate == (thenDate+1)) {
      var message = 'Created yesterday, ' + thenTime;
      // document.getElementById(divId).innerHTML = message;
  }
  else if(nowYear == thenYear && nowMonth >= thenMonth && nowDate > (thenDate+1)) {
      var message = 'Created ' + thenMonthAbbr + ' ' + thenDateFormatted;
      // document.getElementById(divId).innerHTML = message;
  }
  else {
      var message = 'Created: error';
      // document.getElementById(divId).innerHTML = message;
  }

  document.getElementById(divId).setAttribute('data-bs-title', message);
}



setEditTimes();
setCreateTimes();
setInputTimes();

setInterval(setEditTimes, 3000);
setInterval(setCreateTimes, 3000);
setInterval(setInputTimes, 3000);






function setInputTimes() {
  const elements = document.getElementsByClassName('timeInput');
  // var elements = document.querySelectorAll('[var="editTime"]');


  for(var i = 0; i < elements.length; i++) {
    
    // console.log(elements[i].id);
    // console.log(elements[i].dataset.value);
   
    // setTimeEdited(elements[i].dataset.value, elements[i].id);

    elements[i].value = getNowFormatted();
    // console.log(elements[i].value);


  }
}



function getNowFormatted() {
    var now = new Date();

    // console.log(now);

    var nowYear = now.getFullYear();
    var nowMonth = parseInt(now.getMonth()+1);
    var nowDate = now.getDate();
    var nowHours = now.getHours();
    var nowMinutes = now.getMinutes();

    var nowSeconds = now.getSeconds();

    var monthFormatted = (nowMonth < 10) ? '0' + nowMonth : nowMonth;
    var dateFormatted = (nowDate < 10) ? '0' + nowDate : nowDate;
    var hoursFormatted = (nowHours < 10) ? '0' + nowHours : nowHours;
    var minutesFormatted = (nowMinutes < 10) ? '0' + nowMinutes : nowMinutes;

    var secondsFormatted = (nowSeconds < 10) ? '0' + nowSeconds : nowSeconds;

    var nowFormatted = monthFormatted + '-' + dateFormatted + '-' + nowYear + ',' + hoursFormatted + ':' + minutesFormatted + ':' + secondsFormatted;
    
    // console.log(nowFormatted);

    return nowFormatted;
}



// console.log(Intl.DateTimeFormat().resolvedOptions().timeZone)
// var offset = new Date().getTimezoneOffset();
// console.log(offset/-60);
// console.log(new Date())







        document.addEventListener("DOMContentLoaded", function(){
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function(element){
                return new bootstrap.Tooltip(element);
            });
        });



        function stopModals() {
  var modalBtns = document.querySelectorAll('[data-bs-toggle="modal"]');
  for(var i = 0; i < modalBtns.length; i++) {
    modalBtns[i].setAttribute('data-bs-toggle', '');
  }

}

function startModals() {
  var modalBtns = document.querySelectorAll('[data-bs-toggle=""]');
  for(var i = 0; i < modalBtns.length; i++) {
    modalBtns[i].setAttribute('data-bs-toggle', 'modal');
  }

}



// function showOrHideModal(x) {
//   var e = document.getElementById('searchResultsModal');
//   console.log(e);

//   if(x == 'show') {

//     e.classList.add("show");
//     e.style.display = "block";
//     console.log(e);

//   }
//   else {
//     e.classList.remove("show");
//     e.style.display = "none";
//     console.log(e);

//   }
// }


       
</script>
<!-- <script>tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
  plugins: 'image',
  menubar: 'insert',
  toolbar: 'image',
  image_list: [
    {title: 'My image 1', value: 'https://www.example.com/my1.gif'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ]
});</script> -->


<%- include ('../partials/footer') %>


