<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <%- include ('../partials/message') %>

    <% if(locals.message !== 'No reviews yet.' && locals.message !== 'An error occurred while loading the reviews.') { %>
        <h4 class="text-center" style="padding-bottom:5vh;padding-top:5vh">All Reviews</h4>
        <div class="container" style="padding-bottom: 10vh;">
            <table class="table table-striped table-hover" style="margin: 0 auto;width: 80%;table-layout: fixed;">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Show name</th>
                        <th>Date added</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>

        <% reviews.forEach(function(review) { %>
                    <tr>
                        <td><%= review.reviewid %></td>
                        <td><%= review.showname %></td>
                        <td><%= review.reviewdate %></td>
                        <td style="word-wrap:break-word"> <%= review.review %></td>
                    </tr>
        <% }); %>
                </tbody>
            </table>
        </div>
<% } %>
</main>

<%- include ('../partials/footer') %>