<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>





<main>

   <a title="Your lists" href="/lists"> <div class="logo" style="position:absolute; top:10px; left:10px" >
        <img class="zoom" src="/img/brain.svg" style="width:40px;"><span style="padding-left:4px; font-weight: bold;color:#f289ca">lists</span>
    </div>
  </a>

  <!-- <a href="/trash">
  <button class="btn rounded-10 zoom" style="position:absolute;right:200px;top:17px;border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: 1.25;width:30px"><img src="/img/trash.png" style="width:10px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')"></button>
</a> -->
    <button class="btn rounded-10 pull-right name" style="border-color:#f289ca;background-color:#ffe6ee;position:absolute; top:10px; right:50px;font-size:12px" disabled><%= givenName %></button> 
    <a href="/logout" class="btn rounded-10 pull-right logout"style="position:absolute;top:10px; right:5px;border-color:#000000;background-color:#ececec;font-size:11px">←</a>


    <%- include ('../partials/message') %>

    <div class="text-center" style="padding-top:50px;color:#f289ca">
      
        <h4>trash</h4>
        <p style="font-size:12px"><%=lists.length %> lists</p>
        <!-- <div style="padding-top:5px;padding-bottom:5px">
          <form action="/search" method="POST">
          <input type="text" id="q" name="q" class="search-hover zoom" placeholder="search by title or content">
        </form>

      </div>
      <div style="padding-top:10px;">
        <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" href="#addListModal" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;">+</button>
      </div>
      </div> -->


      <% if(lists.length > 0) { %>
        <button      title="Empty trash" data-bs-toggle="modal" data-bs-target="#confirmEmpty" href="#confirmEmpty" data-toggle="modal"
         class="btn" style="position:absolute;right:43px;font-size:12px;border-radius:10;background-color:#ffe6ee;color:#f289ca;border-color:#f289ca">
                Empty
        </button>
        <% } %>

      


  <!-- <div class="modal"  id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog "style="" >
      <div class="modal-content rounded-10">
        <form action="/addList" method="POST">


            <input  tabindex="-1" class="form-control rounded-10 text-center" type="text" maxlength="25" name="title" value="new list" required>

    <div class="text-center" style="padding-bottom:4px">
        <button class="btn rounded-10 " style="border-color:#17d475;background-color:#e8fcec;padding: .25rem .4rem;line-height: .75;">Save</button>
      </div> -->
        <!-- <textarea  name="list"  id="textarea" class="form-control rounded-0" rows="27" ></textarea> -->
        <!-- <textarea name="list"  id="textarea" class="form-control rounded-10" >
        
       </textarea> -->

            <!-- <textarea  name="list" onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}" onkeyup="handleInput(event)"  id="textarea" class="form-control rounded-0" rows="27" required></textarea> -->
        <!-- </form>
          </div>

      </div>
      
    </div> -->
  </div>

<!-- <div class="text-center" style="padding-top:20px"> -->
  <% if(lists.length > 0) { %>
    
    <div class="row" style="overflow:auto;padding-top:50px;padding-left:20px;display:block">
      <div class="d-flex" >
        
    <% lists.forEach(function(list) { %>
      <!-- THIS IS A TEST -->
      <!-- <div data-bs-toggle="modal" data-bs-target="#editList<%= list.listid%>" type="button" href="#editList<%= list.listid%>" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;"> -->
        <!-- <button data-bs-toggle="modal" data-bs-target="#editList<%= list.listid%>" type="button" href="#editList<%= list.listid%>" data-toggle="modal" class="btn rounded-10 zoom" style="border-color:#f289ca;background-color:#ffe6ee;padding: .25rem .4rem;line-height: .75;"> -->

      
      <div title="Lists in trash cannot be edited" data-bs-toggle="" data-bs-target="#editList<%= list.listid%>" type="" href="#editList<%= list.listid%>" data-toggle="modal" id="<%= list.listid %>" class="col card card-body m-2" style="min-width: 250px;overflow-x:scroll;background-color:#<%= list.color %>;">   
       
        <div class="row" style="font-weight:bold;padding-left:10px"><%= list.title %>  


          
            
          <span class="col">

            
           
          <form action="/restoreList" method="POST">
            <input type="number" name="listId" value=<%= list.listid %> hidden>
            <button title="Restore list" class="btn rounded-10 zoom" style="position:absolute;right:40px;border-color:#17d475;background-color:#e8fcec;padding: 0;line-height: 1;width:20px"><img src="/img/restore.png" style="width:15px" onmouseover="hover(this, 'restorePink')" onmouseout="unhover(this, 'restore')"></button>
          </form>



          <button data-id="<%= list.listid %>" data-bs-toggle="modal" data-bs-target="#confirmPermanentDelete" href="#confirmPermanentDelete" data-toggle="modal"
          class="btn" title="Permanently delete" class="btn rounded-10 zoom" style="position:absolute;right:10px;border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: .25;width:20px"><img src="/img/trash.png" style="width:15px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')"></button>
          
        </span>

        <!-- <div class="col"><button onclick="setSelectedColor('<%= list.color %>')" type="button" class="btn rounded-10 zoom" data-id="<%= list.listid %>" data-bs-toggle="modal" data-bs-target="#listColors" style="position:absolute;right:50px;border-color:#fb6f92;padding: 0;line-height: .25;width:20px" disabled>
          <img src="/img/palette.png" style="width:20px" onmouseover="hover(this, 'paletteColors')" onmouseout="unhover(this, 'palette')">
        </button>
      </div> -->
        

        </div>        
        <br>
        <%- list.list %>

      </div>



      


      
      <!-- THIS IS A TEST -->
    <!-- </button> -->
    <% }); %>
    <div style="padding-right:20px"></div>
  </div>
</div>

<!-- TEST -->

 <% } else { %>
  <div class="text-center" style="padding-top:100px">

    <h6>no lists in trash</h6>
    <img style="width:100px" src="/img/cat.png">

  </div>
<% } %>
<!-- </div> -->

<!-- <div class="modal fade" id="listColors" tabindex="-1" aria-labelledby="listColors" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div id="modalListId" value="1"></div> 
 
      <form action="/changeListColor" method="POST">
        <input id="modalListId" name="listId" value="" hidden>
        <button class="btn"  name="color" value="ffffff" style="padding-right:0"><img id="ffffff" src="/img/colors/white.png" style="width:20px"></button>
        <button class="btn" name="color"  value="fdf5c1" style="padding-right:0"><img id="fdf5c1" src="/img/colors/yellow.png" style="width:20px"></button>
        <button class="btn" name="color" value="f7cdc2" style="padding-right:0"><img id="f7cdc2" src="/img/colors/orange.png" style="width:20px"></button>
      <button class="btn" name="color" value="cafbc8" style="padding-right:0"><img id="cafbc8" src="/img/colors/green.png" style="width:20px"></button>
      <button class="btn" name="color" value="bdf6d9" style="padding-right:0"><img id="bdf6d9" src="/img/colors/greenBlue.png" style="width:20px"></button>
      <button class="btn" name="color" value="bae6fc" style="padding-right:0"><img id="bae6fc" src="/img/colors/lightBlue.png" style="width:20px"></button>
      <button class="btn" name="color" value="b4c9fa" style="padding-right:0"><img id="b4c9fa" src="/img/colors/lavender.png" style="width:20px"></button>
      <button class="btn"  name="color" value="f4c3fb" style="padding-right:0"><img id="f4c3fb" src="/img/colors/pink.png" style="width:20px"></button>
      <button class="btn"name="color" value="d0adfa"  ><img id="d0adfa" src="/img/colors/purple.png" style="width:20px"></button>
      </form> --> 

      <!-- <div class="btn-group">


      <button class="btn" onclick="changeListColor('#ffffff', 'whiteSelected', '')" style="padding-right:0"><img id="whiteSelected" src="/img/colors/white.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#fdf5c1', 'yellowSelected', '')" style="padding-right:0"><img id="yellowSelected" src="/img/colors/yellow.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#f7cdc2', 'orangeSelected', '')" style="padding-right:0"><img id="orangeSelected" src="/img/colors/orange.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#cafbc8', 'greenSelected', '')" style="padding-right:0"><img id="greenSelected" src="/img/colors/green.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#bdf6d9', 'greenBlueSelected', '')" style="padding-right:0"><img id="greenBlueSelected" src="/img/colors/greenBlue.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#bae6fc', 'lightBlueSelected', '')" style="padding-right:0"><img id="lightBlueSelected" src="/img/colors/lightBlue.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#b4c9fa', 'lavenderSelected', '')" style="padding-right:0"><img id="lavenderSelected" src="/img/colors/lavender.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#f4c3fb', 'pinkSelected', '')" style="padding-right:0"><img id="pinkSelected" src="/img/colors/pink.png" style="width:20px"></button>
      <button class="btn" onclick="changeListColor('#d0adfa', 'purpleSelected', '')"><img id="purpleSelected" src="/img/colors/purple.png" style="width:20px"></button>
 
 
 
    </div> -->
<!--       
    </div>
  </div>
</div> -->

























<div class="modal" id="confirmEmpty" tabindex="-1" aria-labelledby="confirmEmpty" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <h6 style="color:#f289ca;text-align: center;padding-top:10px">This action cannot be undone. Are you sure?</h6>

            
            
            <div class="btn-group" style="padding-left:100px;padding-bottom: 10px;">
                <div style="padding-right:10px">
            <button class="card" data-bs-dismiss="modal"  style="background:#ececec;color:black;font-weight:bold;">Cancel</button>
        </div>
        <div style="padding-left:10px">
            <form action="/emptyTrash" method="POST" >

            <button  class="card" style="background:#17d475;color:white;font-weight:bold;">Continue</button>
        </form>

            </div>
        </div>
        
      </div>
    </div>
  </div>



  <div class="modal" id="confirmPermanentDelete" tabindex="-1" aria-labelledby="confirmPermanentDelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <h6 style="color:#f289ca;text-align: center;padding-top:10px">This action cannot be undone. Are you sure?</h6>

            
            
            <div class="btn-group" style="padding-left:100px;padding-bottom: 10px;">
                <div style="padding-right:10px">
            <button class="card" data-bs-dismiss="modal"  style="background:#ececec;color:black;font-weight:bold;">Cancel</button>
        </div>
        <div style="padding-left:10px">
            <form action="/permanentlyDeleteList" method="POST" >
                <input id="modalListId" name="listId" value="" hidden>
                <button  class="card" style="background:#17d475;color:white;font-weight:bold;">Continue</button>
        </form>

            </div>
        </div>
        
      </div>
    </div>
  </div>






</main>

<script src="https://cdn.tiny.cloud/1/is0q015mgv0512rfhujg2w9j8h17y7kkgn7ntlxua0p4pzbx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

  
<script>

// document.getElementById('listColors').addEventListener('show.bs.modal', (e) => {
//     // console.log(e.relatedTarget);
//     console.log(e.relatedTarget.dataset.id);

//     // var element = document.createElement("div");
//     // element.innerHTML = e.relatedTarget.dataset.id;
//     // document.getElementById('listColorsContent').appendChild(element);  
//     // document.getElementById('modalListId').innerHTML = e.relatedTarget.dataset.id;

//     document.getElementById('modalListId').value = e.relatedTarget.dataset.id;
//     console.log(document.getElementById('modalListId').value);



// });







document.getElementById('confirmPermanentDelete').addEventListener('show.bs.modal', (e) => {
    // console.log(e.relatedTarget);
    // console.log(e.relatedTarget.dataset.id);

    // var element = document.createElement("div");
    // element.innerHTML = e.relatedTarget.dataset.id;
    // document.getElementById('listColorsContent').appendChild(element);  
    // document.getElementById('modalListId').innerHTML = e.relatedTarget.dataset.id;

    document.getElementById('modalListId').value = e.relatedTarget.dataset.id;
    // console.log(document.getElementById('modalListId').value);



});


function setSelectedColor(color) {
  var imgs = ['white','yellow','orange','green','greenBlue','lightBlue','lavender','pink','purple'];
        var ids = ['ffffff','fdf5c1','f7cdc2','cafbc8','bdf6d9','bae6fc','b4c9fa','f4c3fb','d0adfa']; 

        for(var i = 0; i < 9; i++) {
            document.getElementById(ids[i]).src='/img/colors/'+imgs[i]+'.png';
        }
        
  document.getElementById(color).src = '/img/colors/'+color+'Selected.png';
}


  function hover(element, src) {
  element.setAttribute('src', '/img/'+src+'.png');
}

function unhover(element, src) {
  element.setAttribute('src', '/img/'+src+'.png');
}

  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss textcolor colorpicker',
    toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough forecolor backcolor | link image media table mergetags | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    image_list: [
    {title: 'My image 1', value: 'http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ],
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  });

//   function changeListColor(val, id, listId){
//     var targetId = document.getElementById('modalListId').value;
//     console.log(targetId);
//     var list = document.getElementById(targetId).style.backgroundColor = val;

//         // var list = document.getElementById(listId);
//         // list.style.backgroundColor = val;

//         // document.body.style.backgroundColor = val;



        
//         var imgs = ['white','yellow','orange','green','greenBlue','lightBlue','lavender','pink','purple'];
//         var ids = ['whiteSelected','yellowSelected','orangeSelected','greenSelected','greenBlueSelected','lightBlueSelected','lavenderSelected','pinkSelected','purpleSelected']; 

//         for(var i = 0; i < 9; i++) {
//             document.getElementById(ids[i]).src='/img/colors/'+imgs[i]+'.png';
//         }

//         document.getElementById(id).src='/img/colors/'+id+'.png';
//     }
</script>
<!-- <script>tinymce.init({
  selector: 'textarea',  // change this value according to your HTML
  plugins: 'image',
  menubar: 'insert',
  toolbar: 'image',
  image_list: [
    {title: 'My image 1', value: 'https://www.example.com/my1.gif'},
    {title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif'}
  ]
});</script> -->


<%- include ('../partials/footer') %>


