<%- include ('../partials/header') %>

<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>

<main>
  <%- include ('../partials/menu') %>
  <div class="text-center" style="padding-top:50px;color:#f289ca">
    <% if(search) { %>
      <h4 class="site-title">trash</h4>
      <h6 class="site-title">search results</h6>
    <% } else { %>
      <h4 class="site-title">trash</h4>
    <% } %>
    <div style="padding-top:5px;padding-bottom:5px">
      <form action="/search?trash=true" method="POST">
        <input type="text" id="q" name="q" class="search-hover zoom" placeholder="search trash...">
      </form>
    </div>
    <% if(lists.length == 0) { %>
      <p id="listCount" style="font-size:12px;padding-top:16px">No lists</p>
    <% } else if(lists.length==1) { %>
      <p id="listCount" style="font-size:12px;padding-top:16px">1 list</p>
    <% } else { %>
      <p id="listCount" style="font-size:12px;padding-top:16px">
        <%= lists.length %> lists
      </p>
    <% } %>
    <% if(lists.length> 0) { %>
      <button title="Empty trash" data-bs-toggle="modal" data-bs-target="#confirmEmpty" href="#confirmEmpty" data-toggle="modal" class="btn" style="position:absolute;right:43px;font-size:12px;border-radius:10;background-color:#ffe6ee;color:#f289ca;border-color:#f289ca">
        Empty
      </button>
      <form action="/restoreAll" method="POST">
        <button title="Recover all" class="btn" style="position:absolute;right:120px;font-size:12px;border-radius:10;background-color:#e8fcec;color:#17d475;border-color:#17d475">
          Recover All
        </button>
      </form>
    <% } %>
    
    <!-- <div style="padding-left:44px;">
      <button disabled id="numSelectedLists" class="btn" style="font-size:12px;border-radius:10;background-color:#e8fcec;color:#17d475;border-color:#17d475;display: none;padding-left:20px">
        <button onclick="unselectAll()" title="Unselect all" id="unselectAll" class="btn" style="padding:0;position:absolute;top:115px;left:47px;display: none;z-index: 2;">
          <img src="/img/x.png" style="width:10px" onmouseover="hover(this, 'pinkX')" onmouseout="unhover(this, 'x')">
        </button>
      </button>
    </div>
    <div style="padding-top:10px;padding-left:44px;">
      <button data-id="" data-bs-toggle="modal" data-bs-target="#confirmPermanentlyDeleteSelected" href="#confirmPermanentlyDeleteSelected" data-toggle="modal" title="Permanently delete selected" id="delSelectedLists" name="listIds" class="btn rounded-10 zoom" style="border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: .25;width:20px;display: none;">
        <img src="/img/trash.png" style="width:15px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')">
      </button>
      <form style="display:inline" action="/restoreSelectedLists" method="POST">
        <button id="restoreSelectedLists" title="Recover selected" class="btn rounded-10 zoom" name="listIds" style="position:absolute;top:212.5px;left:73px;border-color:#17d475;background-color:#e8fcec;padding: 0;line-height: .25;width:20px;display:none">
          <img src="/img/restore.png" style="width:15px" onmouseover="hover(this, 'restorePink')" onmouseout="unhover(this, 'restore')">
        </button>
      </form>
    </div>   -->


       
  </div>


  <div style="position:absolute;top:150px;left:45px">
    <div style="">
    <button disabled id="numSelectedLists" class="btn" style="font-size:12px;border-radius:10;background-color:#e8fcec;color:#17d475;border-color:#17d475;display: none;padding-left:20px">
    <button onclick="unselectAll()" title="Unselect all" id="unselectAll" class="btn" style="position:absolute;bottom:38px;left:2px;padding:0;display: none;z-index: 2;"><img src="/img/x.png" style="width:10px" onmouseover="hover(this, 'pinkX')" onmouseout="unhover(this, 'x')"></button>

    </button>  
    </div>

    <div style="padding-top:10px;">
      <button data-id="" data-bs-toggle="modal" data-bs-target="#confirmPermanentlyDeleteSelected" href="#confirmPermanentlyDeleteSelected" data-toggle="modal" title="Permanently delete selected" id="delSelectedLists" name="listIds" class="btn rounded-10 zoom" style="border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: .25;width:20px;display: none;">
        <img src="/img/trash.png" style="width:15px" onmouseover="hover(this, 'trashPink')" onmouseout="unhover(this, 'trash')">
      </button>
    </div>


    <form action="/restoreSelectedLists" method="POST">
      <button id="restoreSelectedLists" title="Recover selected" class="btn rounded-10 zoom" name="listIds" style="position:absolute;bottom:0px;left:30px;border-color:#17d475;background-color:#e8fcec;padding: 0;line-height: .25;width:20px;display:none">
        <img src="/img/restore.png" style="width:15px" onmouseover="hover(this, 'restorePink')" onmouseout="unhover(this, 'restore')">
      </button>
    </form>
</div>



  
  </div>

  <div class="row" style="overflow:auto;padding-top:50px;padding-left:20px;display:block">
    <div class="d-flex">
      <% lists.forEach(function(list) { %>
        <button title="Select list" id="" value=<%=list.listid %> class="btn rounded-10 zoom" style="padding:0;position:relative;left:26px;top:10px;z-index: 2;line-height:.25;width:15px;height:15px">
          <img class="listSelector" src="/img/colors/white.png" style="width:15px" onclick="changeImage(this, 'colors/white', 'colors/ffffffSelected')">
        </button>
        <div title="Lists in trash cannot be edited" data-bs-toggle="" data-bs-target="#editList<%= list.listid%>" type="" href="#editList<%= list.listid%>" data-toggle="modal" id="<%= list.listid %>" class="col card card-body m-2" style="min-width: 250px;overflow-x:scroll;background-color:#<%= list.color %>;">
          <div class="row" style="font-weight:bold;padding-left:10px">
            <div style="width:70%;text-overflow:ellipsis;white-space: nowrap;overflow: hidden; ">
              <%= list.title %>
            </div>
            <span class="col">
              <% if(list.archive) { %>
                <form action="/restoreList?archived=true" method="POST">
              <% } else { %>
                <form action="/restoreList" method="POST">
              <% } %>
                <input type="number" name="listId" value=<%=list.listid %> hidden>
                <button title="Recover list" class="btn rounded-10 zoom" style="position:absolute;right:40px;border-color:#17d475;background-color:#e8fcec;padding: 0;line-height: 1;width:20px">
                  <img src="/img/restore.png" style="width:15px" onmouseover="hover(this, 'restorePink')" onmouseout="unhover(this, 'restore')">
                </button>
              </form>
              <button data-id="<%= list.listid %>" data-bs-toggle="modal"
              data-bs-target="#confirmPermanentDelete" href="#confirmPermanentDelete" data-toggle="modal"
              title="Permanently delete" class="btn rounded-10 zoom"
              style="position:absolute;right:10px;border-color:#fb6f92;background-color:#ffe5ec;padding: 0;line-height: .25;width:20px"><img
              src="/img/trash.png" style="width:15px" onmouseover="hover(this, 'trashPink')"
              onmouseout="unhover(this, 'trash')"></button>
            </span>
          </div>
          <br>
          <%- list.list %>
          <div class="row g-0" style="padding-top:20px">
            <% labels.forEach(function(label) { %>
              <% if(label.listid==list.listid){ %>
                <div class="col auto" style="padding-right:0;padding-left:10px;padding-bottom:5px;">
                  <button class="btn rounded-pill" style="vertical-align:middle;border-color: #03a9f4;background-color: #b3e5fc;color:#03a9f4;font-size:12px;padding:5px">
                    <%=label.label %>
                  </button>
                </div>
              <% } %>
            <% }); %>
          </div>
          <div data-bs-toggle="tooltip" data-bs-custom-class="timeTooltip" class="createTime" id="createTime<%= list.listid%>" data-value="<%= list.createdatetime %>" style="text-align:center;padding-top:5px;font-size:12px;font-weight: bold;">
            <button class="editTime btn" id="editTime<%= list.listid%>" data-value="<%= list.editdatetime %>" style="text-align:center;padding-top:5px;font-size:12px;font-weight: bold;"></button>
          </div>
        </div>
      <% }); %>
      <div style="padding-right:20px"></div>
    </div>
  </div>

  <% if(search && lists.length == 0){ %>
    <div class="text-center" style="padding-top:106px">
      <img style="width:100px" src="/img/noResults.png">
    </div>
  <% } else if(lists.length == 0) { %>
    <div class="text-center" style="padding-top:137px">
      <img style="width:100px" src="/img/cat.png">
    </div>
  <% } %>

  <div class="modal" id="confirmEmpty" tabindex="-1" aria-labelledby="confirmEmpty" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content  mx-auto text-center" style="max-width:200px;padding:10px">
        Empty trash?
        <div class="mx-auto" style="padding-top:10px">
          <button class="btn rounded-10" data-bs-dismiss="modal" style="width:90px;background-color:#e8fcec;color:#17d475;border-color: #17d475;">
            Cancel
          </button>
          <form action="/emptyTrash" method="POST" style="padding-top:10px">
            <button class="btn rounded-10" style="background-color:#ffe5ec;color:#fb6f92;border-color: #fb6f92;">
              Continue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmPermanentlyDeleteSelected" tabindex="-1" aria-labelledby="confirmPermanentlyDeleteSelected" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content  mx-auto text-center" style="max-width:300px;padding:10px">
        <div id="permanentlyDeleteSelectedMessage"></div>
        <div class="mx-auto" style="padding-top:10px">
          <button class="btn rounded-10" data-bs-dismiss="modal" style="width:90px;background-color:#e8fcec;color:#17d475;border-color: #17d475;">
            Cancel
          </button>
          <form action="/permanentlyDeleteSelected" method="POST" style="padding-top:10px">
            <input id="modalListIds" name="listIds" value="" hidden>
            <button class="btn rounded-10" style="background-color:#ffe5ec;color:#fb6f92;border-color: #fb6f92;">
              Continue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="confirmPermanentDelete" tabindex="-1" aria-labelledby="confirmPermanentDelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content  mx-auto text-center" style="max-width:200px;padding:10px">
        Permanently delete list?
        <div class="mx-auto" style="padding-top:10px">
          <button class="btn rounded-10" data-bs-dismiss="modal" style="width:90px;background-color:#e8fcec;color:#17d475;border-color: #17d475;">
            Cancel
          </button>
          <form action="/permanentlyDeleteList" method="POST" style="padding-top:10px">
            <input id="modalListId" name="listId" value="" hidden>
            <button class="btn rounded-10" style="background-color:#ffe5ec;color:#fb6f92;border-color: #fb6f92;">
              Continue
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>





<script src="https://cdn.tiny.cloud/1/is0q015mgv0512rfhujg2w9j8h17y7kkgn7ntlxua0p4pzbx/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
  document.getElementById('confirmPermanentDelete').addEventListener('show.bs.modal', (e) => {
    document.getElementById('modalListId').value = e.relatedTarget.dataset.id;
  });

  document.getElementById('confirmPermanentlyDeleteSelected').addEventListener('show.bs.modal', (e) => {
    document.getElementById('modalListIds').value = e.relatedTarget.dataset.id;
    var numLists = e.relatedTarget.dataset.id.split(",").length;
    document.getElementById('permanentlyDeleteSelectedMessage').innerHTML = (numLists == 1) ? 'Permanently delete 1 selected list?' : 'Permanently delete ' + numLists + ' selected lists?';
  });

  function setSelectedColor(color) {
    var imgs = ['white', 'yellow', 'orange', 'green', 'greenBlue', 'lightBlue', 'lavender', 'pink', 'purple'];
    var ids = ['ffffff', 'fdf5c1', 'f7cdc2', 'cafbc8', 'bdf6d9', 'bae6fc', 'b4c9fa', 'f4c3fb', 'd0adfa'];
    for (var i = 0; i < 9; i++) {
      document.getElementById(ids[i]).src = '/img/colors/' + imgs[i] + '.png';
    }

    document.getElementById(color).src = '/img/colors/' + color + 'Selected.png';
  }

  function hover(element, src) {
    element.setAttribute('src', '/img/' + src + '.png');
  }

  function unhover(element, src) {
    element.setAttribute('src', '/img/' + src + '.png');
  }

  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss textcolor colorpicker',
    toolbar: 'blocks fontfamily fontsize | bold italic underline strikethrough forecolor backcolor | link image media table mergetags | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    image_list: [
      { title: 'My image 1', value: 'http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcQOO0X7mMnoYz-e9Zdc6Pe6Wz7Ow1DcvhEiaex5aSv6QJDoCtcooqA7UUbjrphvjlIc' },
      { title: 'My image 2', value: 'http://www.moxiecode.com/my2.gif' }
    ],
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ]
  });

  function changeImage(element, img1, img2) {
    if (element.getAttribute('src') == '/img/' + img1 + '.png') {
      element.setAttribute('src', '/img/' + img2 + '.png');
    }
    else {
      element.setAttribute('src', '/img/' + img1 + '.png');
    }

    countSelectedLists();
  }

  function countSelectedLists() {
    const elements = document.getElementsByClassName('listSelector');

    var n = 0;
    var selectedListIds = [];
    for(var i = 0; i < elements.length; i++) {
      if (elements[i].src == window.location.origin + '/img/colors/ffffffSelected.png') {
        n++;
        selectedListIds.push(elements[i].parentElement.value);
      }
    }

    if(n > 0) {
      document.getElementById('numSelectedLists').innerHTML = n + ' selected';
      document.getElementById('numSelectedLists').style.display = 'block';
      document.getElementById('delSelectedLists').style.display = 'block';
      document.getElementById('delSelectedLists').setAttribute('data-id', selectedListIds);
      document.getElementById('restoreSelectedLists').style.display = 'block';
      document.getElementById('restoreSelectedLists').value = selectedListIds;
      document.getElementById('unselectAll').style.display = 'block';
    } 
    else {
      document.getElementById('numSelectedLists').style.display = 'none';
      document.getElementById('delSelectedLists').style.display = 'none';
      document.getElementById('unselectAll').style.display = 'none';
      document.getElementById('restoreSelectedLists').style.display = 'none';
    }
  }

  function unselectAll() {
    var selected = document.querySelectorAll('[src="/img/colors/ffffffSelected.png"]');
    for (var i = 0; i < selected.length; i++) {
      selected[i].src = '/img/colors/white.png';
    }

    countSelectedLists();
  }

  document.addEventListener("keydown", function (e) {
    if (!e.metaKey || e.metaKey && e.keyCode == 82 || e.metaKey && e.keyCode == 87) {
      return true;
    }

    e.preventDefault();

    var selectedListIds = [];

    if(e.metaKey && e.keyCode == 65) {
      const elements = document.getElementsByClassName('listSelector');
      for (var i = 0; i < elements.length; i++) {
        if (elements[i].src !== window.location.origin + '/img/colors/ffffffSelected.png') {
          elements[i].src = '/img/colors/ffffffSelected.png';
        }
        selectedListIds.push(elements[i].parentElement.value);
      }
    }
    if(selectedListIds.length > 0) {
      document.getElementById('numSelectedLists').innerHTML = selectedListIds.length + ' selected';

      document.getElementById('numSelectedLists').style.display = 'block';
      document.getElementById('delSelectedLists').style.display = 'block';

      document.getElementById('delSelectedLists').setAttribute('data-id', selectedListIds);

      document.getElementById('restoreSelectedLists').style.display = 'block';

      document.getElementById('restoreSelectedLists').value = selectedListIds;

      document.getElementById('unselectAll').style.display = 'block';
    }
  })

  function setEditTimes() {
    const elements = document.getElementsByClassName('editTime');
    for(var i = 0; i < elements.length; i++) {
      setTimeEdited(elements[i].dataset.value, elements[i].id);
    }
  }

  function setCreateTimes() {
    const elements = document.getElementsByClassName('createTime');
    for(var i = 0; i < elements.length; i++) {
      setTimeCreated(elements[i].dataset.value, elements[i].id);
    }
  }

  function setTimeEdited(editDateTime, divId) {
    var now = new Date();
    var nowYear = parseInt(now.getFullYear());
    var nowMonth = parseInt(now.getMonth() + 1);
    var nowDate = parseInt(now.getDate());

    var thenYear = parseInt(editDateTime.substring(6,10));
    var thenMonth = parseInt(editDateTime.substring(0,2));
    var thenDate = parseInt(editDateTime.substring(3,5));
    var thenHour = parseInt(editDateTime.substring(11,13));
    var thenMin = parseInt(editDateTime.substring(14));

    var ampm = 'AM';

    if (thenHour >= 12) {
      ampm = 'PM';

      if (thenHour > 12) {
        thenHour -= 12;

      }
    }

    if (thenHour == 0) {
      thenHour = 12;
    }

    var thenMinutesFormatted = (thenMin < 10) ? '0' + thenMin : thenMin;

    var thenTime = thenHour + ':' + thenMinutesFormatted + ' ' + ampm;

    const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const thenMonthAbbr = months[thenMonth-1];

    var thenDateFormatted = (thenDate < 10) ? '0' + thenDate : thenDate;



    if(nowYear > thenYear) {
    var message = 'Edited ' + thenMonthAbbr + ' ' + thenDateFormatted + ' ' + thenYear;
  }
  else if(nowYear == thenYear && nowMonth == thenMonth && nowDate == thenDate) {
      var message = 'Edited ' + thenTime;
  }
  else if(nowYear == thenYear && nowMonth == thenMonth && nowDate == (thenDate+1)) {
      var message = 'Edited yesterday, ' + thenTime;
  }
  else if(nowYear == thenYear && nowMonth >= thenMonth && nowDate > (thenDate+1)) {
      var message = 'Edited ' + thenMonthAbbr + ' ' + thenDateFormatted;
  }
  else {
      var message = 'Edited: error';
  }

    document.getElementById(divId).innerHTML = message;
  }

  function setTimeCreated(createDateTime, divId) {
    var now = new Date();
    var nowYear = parseInt(now.getFullYear());
    var nowMonth = parseInt(now.getMonth() + 1);
    var nowDate = parseInt(now.getDate());

    var thenYear = parseInt(createDateTime.substring(6, 10));
    var thenMonth = parseInt(createDateTime.substring(0, 2));
    var thenDate = parseInt(createDateTime.substring(3, 5));
    var thenHour = parseInt(createDateTime.substring(11, 13));
    var thenMin = parseInt(createDateTime.substring(14));

    var ampm = 'AM';

    if (thenHour >= 12) {
      ampm = 'PM';

      if (thenHour > 12) {
        thenHour -= 12;

      }
    }

    if (thenHour == 0) {
      thenHour = 12;
    }

    var thenMinutesFormatted = (thenMin < 10) ? '0' + thenMin : thenMin;

    var thenTime = thenHour + ':' + thenMinutesFormatted + ' ' + ampm;

    const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    const thenMonthAbbr = months[thenMonth - 1];

    var thenDateFormatted = (thenDate < 10) ? '0' + thenDate : thenDate;

    if (nowYear > thenYear) {
      var message = 'Created ' + thenMonthAbbr + ' ' + thenDateFormatted + ' ' + thenYear;
    }
    else if (nowYear == thenYear && nowMonth == thenMonth && nowDate == thenDate) {
      var message = 'Created ' + thenTime;
    }
    else if (nowYear == thenYear && nowMonth == thenMonth && nowDate == (thenDate + 1)) {
      var message = 'Created yesterday, ' + thenTime;
    }
    else if (nowYear == thenYear && nowMonth >= thenMonth && nowDate > (thenDate + 1)) {
      var message = 'Created ' + thenMonthAbbr + ' ' + thenDateFormatted;
    }
    else {
      var message = 'Created: error';
    }

    document.getElementById(divId).setAttribute('data-bs-title', message);
  }

  setEditTimes();
  setCreateTimes();
  setInterval(setEditTimes, 3000);
  setInterval(setCreateTimes, 3000);

  function getNowFormatted() {
    var now = new Date();

    var nowYear = now.getFullYear();
    var nowMonth = parseInt(now.getMonth() + 1);
    var nowDate = now.getDate();
    var nowHours = now.getHours();
    var nowMinutes = now.getMinutes();

    var monthFormatted = (nowMonth < 10) ? '0' + nowMonth : nowMonth;
    var dateFormatted = (nowDate < 10) ? '0' + nowDate : nowDate;
    var hoursFormatted = (nowHours < 10) ? '0' + nowHours : nowHours;
    var minutesFormatted = (nowMinutes < 10) ? '0' + nowMinutes : nowMinutes;

    var nowFormatted = monthFormatted + '-' + dateFormatted + '-' + nowYear + ',' + hoursFormatted + ':' + minutesFormatted;

    return nowFormatted;
  }

  document.addEventListener("DOMContentLoaded", function () {
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (element) {
      return new bootstrap.Tooltip(element);
    });
  });
</script>

<%- include ('../partials/footer') %>